@import "tailwindcss";

@font-face {
    font-family: hollowletter;
    src: url("../public/assests/fonts/NoctraDripSolidmeltSolidmelt-XGR0a.ttf");
}


:root {
    --bgcolor: #0b0804;
    --primarycolor: #1a1612;
    --bordecolor: #24140b;
    --textprimarycolor: #7e3a12;
    --textcolor: #918a8aee;

}

html,
body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--bgcolor);
}


.hollowingText {
    font-family: sans-serif;
}

#span {
    background: "yellow"

}

#span::after {
    content: "";
    width: 2px;
    margin-left: 8px;
    height: 40px;

    background-color: #cccc;
    display: flex;
    justify-items: center;

    animation: fade 500ms ease-in-out alternate-reverse infinite;
}



@keyframes fade {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}